.menu {
  width: 100%;
  background-color: aqua;
  text-align: center;
  margin-left: 30%;
}
li {
  margin-left: 40px;
  float: left;
}
ul {
  list-style-type: none;

  /* overflow: hidden; */
}
.anhHeader {
  width: 100%;
  height: 350px;
  background-color: rgb(239, 194, 239);
  border-radius: 10%;
}
.anhHeader1 {
  width: 80%;
  height: 350px;
  margin-left: 10%;
  border-radius: 40%;
}
.bodyAll {
  background-color: rgb(185, 222, 221);
}
.facebook {
  background-color: black;
  width: 100%;
  height: 500px;
  margin-top: 60px;
}
.anhqr {
  width: 100%;
  background-color: white;
  padding-left: 40%;
}
